APP_ENV=development
HTTP_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=profile_user
DATABASE_PASSWORD=profile_password
DATABASE_NAME=profile_db
DATABASE_SSL_MODE=disable
# Required only when DATABASE_SSL_MODE is verify-ca or verify-full.
DATABASE_SSL_ROOT_CERT=
